DB_HOST=127.0.0.1
DB_NAME=database_name
DB_USER=database_user
DB_PASS=database_password
JWT_SECRET=jwt_secret

FCM_PROJECT_ID=fcm_project_id
FCM_SERVICE_ACCOUNT=fcm_service_account

GOOGLE_MAPS_API_KEY=google_api_key

TOYYIBPAY_BASE_URL=https://dev.toyyibpay.com
TOYYIBPAY_SECRET_KEY=toyyibpay_api_key
TOYYIBPAY_CATEGORY_CODE=toyyibpay_code

APP_PUBLIC_URL=https://pettiness-curfew-reissue.ngrok-free.dev/san_api/public
